.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #191414;
  border-bottom: 1px solid #525252;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  padding: 0 50px;
}

.title-logo {
  width: 70px;
  height: 70px;
  padding: 15px 0;
}

.title {
  color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: row;
}

button {
  font-family: proxima-nova, sans-serif;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #191414;
  border: 1px solid #707070;
  color: #1DB954;
  padding: 10px;
}