.track-container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.top-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-selector h3 {
  line-height: 25px;
  margin: 15px 0;
}

.top-selector select {
  height: 25px;
  margin: 15px 15px;
  outline: none;
  background-color: #2e2e2e;
  color: #1db954;
  font-size: 15px;
  font-family: inherit;
}
