.track-row {
  margin: 0;
  color: #1db954;
}

.track-row:nth-child(odd) {
  background: #252525;
}

.track-row:nth-child(even) {
  background: #353535;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

.album-art img {
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
}

.track-info {
  padding: 0 20px;
  font-size: 15px;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
}
